@model VM_Image_Details

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Image</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Products.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Images)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Images)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ret", "Image_Edit", new { id = Model.ImageId }) |
    @Html.ActionLink("Tilbage til listen", "Image_Index")
</p>
