@model VM_ProductSizes_Details

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProductSizes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size.SizeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size.SizeId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ret", "ProductSizes_Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Tilbage til listen", "ProductSizes_Index")
</p>
