@model WebShop.Models.ShoppingCart
@{
    ViewBag.Title = "Indkobkurv";
}
<div class="body-content">
    <div class="container">
        <div class="row">
            <div class="content-block">
                <table id="cart" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width:50%">Product</th>
                            <th style="width:10%">Price</th>
                            <th style="width:8%">Quantity</th>
                            <th style="width:22%" class="text-center">Subtotal</th>
                            <th style="width:10%">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cart in Model.Items)
                        {
                            <tr>
                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-sm-2 hidden-xs"><img src="~/Content/Images/@cart.Image" alt="..." class="img-responsive" /></div>
                                        <div class="col-sm-10">
                                            <h4 class="nomargin">@cart.Name</h4>
                                            <p>@cart.Description</p>
                                        </div>
                                    </div>
                                </td>
                                <td data-th="Price">DKK @cart.Price</td>
                                <td data-th="Quantity">
                                <td>
                                    @*<input type="number"  class="form-control text-center" value="1">*@
                                </td>
                         
                                <td data-th="Subtotal" class="text-center">@cart.LineTotal</td>
                                <td class="actions" data-th="">
                                    <button class="btn btn-danger btn-sm product-delete" data-id="@cart.ProductId"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr class="visible-xs">
                            <td class="text-center"><strong>Total</strong></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("Index", "Home")" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a>
                            </td>
                            <td colspan="2" class="hidden-xs"></td>
                            <td class="hidden-xs text-center"><strong>Total DKK @Model.TotalPrice()</strong></td>
                            <td><a href="@Url.Action("Checkout", "Home")" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $('.product-delete').click(function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/home/Basket_Product_Remove',
                data: { id: id, variant: 0 },
                method: 'POST'
            }).done(function () {
                swal({
                    title: "Are you sure?",
                    text: "Your will not be able to recover this item!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false
                },
                function () {
                    swal("Deleted!", "Your item has been deleted.", "success");
                    setTimeout(function () { window.location.href = "Indkobkurv" }, 1000);
                });
            });
        });
    </script>
}